<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/sources/mujer/mujer_intro.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-primary" aria-current="page" routerLink="mujer"
                        style="width: 320px; background-color: #e2beff;;  border: 2px solid purple; color:purple; font-weight: bold;">
                        MUJER </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/sources/hombre/hombre_intro.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-primary" aria-current="page" routerLink="hombre"
                        style="width: 320px; background-color: #e2beff;;  border: 2px solid purple; color:purple; font-weight: bold;">
                        HOMBRE
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/sources/peques/peques_intro.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a class="btn btn-primary" aria-current="page" routerLink="peques"
                        style="width: 320px; background-color: #e2beff;;  border: 2px solid purple;  color:purple; font-weight: bold;">
                        NIÑOS
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="embed-responsive embed-responsive-21by9 d-flex justify-content-center my-4">
    <iframe width="800" height="500" src="../../../assets/sources/videos/promocion.mp4" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>