<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="footer-icon-container">
            <i class=" fa-solid fa fa-home fa-3x"></i>
            <div class="footer-text">
                <p><strong>ENVIO GRATIS</strong></p>
                <p> Gratis a partir de 50€ a Península,<br>recibirá su pedido en su domicilio de forma gratuita</p>
            </div>
        </div>

        <div class="footer-icon-container">
            <i class="fa fa-gift fa-3x"> </i>
            <div class="footer-text">
                <p><strong>DESCUENTOS</strong></p>
                <p>
                    Suscríbete a nuestra newsletter y <br>
                    descubre las ventajas de ser un #piecilovers

                </p>
            </div>
        </div>

        <div class="footer-icon-container">
            <i class="fa fa-map-marker fa-3x"></i>
            <div class="footer-text">
                <p><strong>RECOGIDA EN TIENDA</strong></p>
                <p>
                    Puede recoger gratuitamente su <br>
                    pedido en cualquiera de nuestras
                </p>
            </div>
        </div>

        <div class="footer-icon-container">
            <i class="fa fa-credit-card-alt fa-4x"></i>
            <div class="footer-text">
                <p><strong>Pago Seguro</strong></p>
                <p>Puedes pagar con tarjeta de <br> crédito con total seguridad</p>
            </div>
        </div>
    </section>

    <section class="footer-descrip-container">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">

                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <h5 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>INFORMACIÓN
                    </h5>
                    <p class="contacto">
                        <a>POLITICA DE PRIVACIDAD</a><br>
                        <a>POLITICA DE COOKIES</a><br>
                        <a>AVISO LEGAL</a><br>
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h5 class="text-uppercase fw-bold mb-4">
                        CONTACTO
                    </h5>
                    <p class="contacto">
                        Horario: Lunes a viernes <br>
                        9.00 a 15.00 y de 16.00 a 18.00 <br>
                        Centro de Soporte <br>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h5 class="text-uppercase fw-bold mb-4">
                        TIENDAS
                    </h5>
                    <p class="contacto">
                        Algeciras <br><br>
                        Chiclana de la Frontera <br><br>
                        Dos Hermanas <br><br>
                        El Puerto de Santa María <br><br>
                        Jerez de la Frontera <br><br>
                        Los Palacios y Villafranca <br><br>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <h5 class="text-uppercase fw-bold mb-4"> REDES </h5>

                    <i class="fa fa-facebook fa-2x me-3"></i>
                    <i class="fa fa-twitter fa-2x me-3"></i>
                    <i class="fa fa-instagram fa-2x me-3"></i>
                </div>

            </div>
        </div>
    </section>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="container p-4 pb-0">
            <form action="" class="subscribe-form">
                <div class="row">
                    <div class="col-auto mb-4 mb-md-0">
                        <p class="pt-2">
                            <strong>Sign up for our newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12 mb-4 mb-md-0">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="form5Example22" class="form-control" />
                            <label class="form-label" for="form5Example22">Email address</label>
                        </div>
                    </div>
                    <div class="col-auto mb-4 mb-md-0">
                        <button data-mdb-ripple-init type="button" class="btn btn-primary mb-4">
                            Subscribe
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
    </footer>