.footer-icon-container {
  padding-right: 66px;
  text-align: center;
  color: purple;
  font-size: 12px;
}

.d-flex {
  background-color: white;
  border: 2px solid purple;
  color: purple;
  text-align: center;
  padding-right: 66px;
}

.footer-descrip-container {
  background-color: white;
  border: 2px solid purple;
  color: purple;
  text-align: center;
  padding-right: 66px;

}

.bg-body-tertiary {
  background-color: white;
  border: 2px solid purple;
  color: purple;
  text-align: center;

}

.contacto {
  font-size: 12px;
}